body {
    font-size: 16px;
    color: #000;
    background: #94D3FF;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.hidden {
    display: none;
}


/*Header*/

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 30px;
    background: #FFFC07;
    border: 1px solid #000;
    border-radius: 5px;
}

.header__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo-link:hover > .header__logo-title{
    text-shadow: 0 0 1px #000;
}

.header__logo-image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background: url("../images/header_logo.png") 50% 50% no-repeat;
    background-size: cover;
}

.header__logo-title {
    font-size: 14px;
    color: #0E9B01;
    font-style: italic;
}

.header__logo-title--big {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__btn-add-new-visit {
    padding: 5px 8px;
    font-size: 14px;
    color: #fff;
    background: #0E9B01;
    border: 1px solid #004D10;
    border-radius: 3px;
    opacity: 0.4;
}

.header__btn-add-new-visit:hover {
    opacity: 1;
}


/*Main*/
/*Section Visits*/

.visits-desk {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    /*add*/ align-items: flex-start;
    min-height: 400px;
    margin-bottom: 30px;
    padding: 20px;
    background: rgb(253, 133, 159);
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}

.visits-desk-info--empty {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
}

.visit-card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    padding: 40px 15px;
    background: #94D3FF;
    border: 1px solid black;
    z-index: 1;
    user-select: none;
    font-size: 14px;
}

.visit-card:hover{
    cursor: grab;
}

.visit-card-btn-close {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background: #bd2130;
    border: 1px solid #000;
    opacity: 0.6;
    cursor: pointer;
}

.visit-card-btn-close:hover {
    opacity: 1;
}

.visit-card__edit {
    position: absolute;
    bottom: 7px;
    width: 85%;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background: #6f42c1;
    border: 1px solid #004D10;
    border-radius: 3px;
    opacity: 0.4;
    cursor: pointer;
}

.visit-card__edit:hover {
    opacity: 1;
}

.visit-card__status-value {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    background: #ffff00;
}

.visit-card__show-more {
    color: #005cbf;
}

.visit-card__show-more:hover {
    color: #ffff00;
}

/* Modal*/
.modal-popup {
    /* visibility: hidden; */
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    }

    .modal-popup__content {
    width: 430px;
    /* height: 80px; */
    margin: 200px auto;
    background-color: #f2f2f2;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:  10px;
    border:1px solid #666666;
    padding:15px;
    text-align:center;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #cccccc;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    }

    .modal-popup__close {
        width: 16px;
        height: 16px;
        position: absolute;
        right: -13px;
        top: -13px;
        border-radius: 15px;
        border: 3px solid #cccccc;
        background-color: #cccccc;
        font-size: 16px;
        cursor: pointer;
    }

    .cards-manipulation-form {
        display: flex;
        flex-direction: column;
    }

    .cards-manipulation-form__item {
        margin: 5px 0;
        font-size: 16px;
    }